---
import Layout from '@/layouts/Layout.astro'
import ThemeToggle from '@/components/ThemeToggle'
import { getCollection } from 'astro:content'
import { ArrowLeftIcon } from '@/components/icons/icons'

const articles = await getCollection('articles', ({ data }) => {
  return data.draft !== true
})

const sortedArticles = articles.sort((a, b) => {
  return new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime()
})
---

<Layout>
  <div class="custom-cursor flex min-h-screen w-full items-center justify-center">
    <main class="relative mt-10 mb-10 w-full max-w-4xl px-4 py-2 sm:px-6">
      <!-- Title -->
      <div class="mb-8 flex items-center gap-3">
        <a href="/">
          <ArrowLeftIcon className="h-8 w-8 opacity-60 hover:opacity-80" />
        </a>
        <h1 class="text-4xl font-bold">My articles</h1>
      </div>

      <!-- Theme toggle -->
      <ThemeToggle client:idle />

      <!-- Article -->
      <div class="grid gap-6">
        {
          sortedArticles.map((article) => (
            <article>
              <a href={`/article/${article.slug}`} class="block">
                {/* IMG - banner */}
                {article.data.banner && (
                  <div class="h-[250px] w-full overflow-hidden rounded-t-lg">
                    <img
                      src={article.data.banner}
                      alt={article.data.title}
                      class="h-full w-full object-cover object-center"
                    />
                  </div>
                )}
                {/* TXT */}
                <div
                  class={`bg-white pt-6 pr-6 pl-6 text-black ${article.data.banner ? 'rounded-b-lg' : 'rounded-lg'}`}
                >
                  <div class="flex items-center gap-2">
                    <img
                      src={article.data.profile || 'src/assets/images/test/user.png'}
                      alt={article.data.author}
                      class="h-10 w-10 rounded-full object-cover shadow-md sm:h-10 sm:w-10"
                    />
                    <div class="flex flex-col gap-0">
                      <h2 class="leading-tight text-black/80">{article.data.author}</h2>
                      <span class="text-[15px] leading-tight text-black/60">
                        {new Date(article.data.publishDate).toLocaleDateString('en-US', {
                          month: 'short',
                          day: 'numeric',
                        })}
                      </span>
                    </div>
                  </div>
                  {/* Title */}
                  <div class="p-4">
                    <div class="">
                      <h2 class="mb-2 text-2xl font-bold text-black hover:text-orange-600">
                        {article.data.title}
                      </h2>
                    </div>
                    {/* hashtag */}
                    {article.data.tags && (
                      <div class="flex flex-wrap gap-2">
                        {article.data.tags.map((tag) => (
                          <span class="rounded-[10px] bg-gray-200 px-2 py-1 text-xs">{tag}</span>
                        ))}
                      </div>
                    )}
                  </div>
                </div>
              </a>
            </article>
          ))
        }
      </div>
    </main>
  </div>
</Layout>

<style>
  /* Theme Toggle Icon */
  :global(.theme-toggle) {
    position: absolute;
    top: 13px;
    right: 21px;
    background-color: #4a4a4a3a;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    border: 1px solid rgba(65, 65, 65, 0.2);
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
  }

  :global(.theme-toggle:hover) {
    background-color: #4a4a4a73;
    border-color: rgba(255, 255, 255, 0.4);
  }

  :global(.theme-toggle:active) {
    background-color: #3a3a3a;
  }

  :global(.theme-toggle svg) {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease;
    width: 22px;
    height: 22px;
  }

  :global(.theme-toggle:hover svg) {
    transform: rotate(15deg) scale(1.1);
  }
  .style {
    background-color: white;
  }
</style>
